body {
	width:320px !important;
	padding:00px !important;
	margin:0  !important;
	-webkit-text-size-adjust: none;
}
h1{
margin-top:10px !important;
margin-bottom:0px;
color#222;
}
h2{
margin-top:0;
}
#pwd_form {
	width:270px !important;
	border:none !important;
	text-align:left !important;
	margin:0 0 40px 0;
}
#pwd_form form input{
	padding:0;
	width:270px;
	font-size:16pt;
}
label{
color:#222222;
clear:both;
font-size:14pt;
}
small{
display:block;
line-height:7pt !important;
font-size:8pt !important;
}
#copy-password{
display:none;
}
.f{margin-top:1.0em}

input.submit{
width:230px !important;
margin-left:20px !important;
height:43px;
}
#usethis
{
display:block;
width:270px;
text-align:center;
clear:both;
font-size:12px;
display:none;
}
#password_res
{
margin:25px 0 25px 0;
display:block;
width:270px;
text-align:center;
clear:both;
font-size:28px;
}
p.small{
color:#555555 !important;
}
